                    /*Контакты*/
.popup-bg-contact {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-сontacts 
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 250px;
}
.closePopup-Contact
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}
.title-poput h1
{
    font-family: 'Montserrat';
    font-style:normal;
    font-weight:300;
    font-size: 25px;
    color: #474747;
}

.email-popup img 
{
    width: 10px;
    height: 10px;
}
.email-popup p 
{
    margin: 0;
    padding: 0;
    color: #686868;
    font-family: 'Montserrat';
    font-style:normal;
    font-weight:300;
    margin: 5px 0px 5px 0px;
}
.popup-bg-contact h2 
{
    color: #646464;
    font-family: 'Montserrat';
    font-style:normal;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.messenger-popup a
{
    color: #646464;
    font-family: 'Montserrat';
    font-style:normal;
    font-weight: 400;
    text-decoration: none;
    
}
.messenger-popup
{
    padding-top: 20px;
}
.centerTitlePop {
    text-align: center;
}
.main-title 
{
    display: flex;
    justify-content: space-evenly;
}
.item-popup-rigth p
{
    margin: 13px 0px 13px 0px;
    padding: 0;
    color: #686868;
    font-family: 'Montserrat';
    font-style:normal;
    font-weight:300;
}
                        /*Регистрация*/
.popup-bg-reg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-reg 
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 500px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 460px;
}
.FirstNameInput 
{
    width: 40%;
    height: 40px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    outline: none;
    border: none;
    color: #686868;
    padding-left: 10px;
}

.FirstNameInput::placeholder {
    color: #686868;
    opacity: 0.8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    font-size: 12px;
    padding-left: 5px;
}

.SurnameNameInput 
{
    width: 100%;
    height: 40px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    outline: none;
    border: none;
    color: #686868;
    padding-left: 10px;
    margin-left: 10px;
}

.SurnameNameInput::placeholder {
    color: #686868;
    opacity: 0.8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    font-size: 12px;
    padding-left: 5px;
}
.fs 
{
    display: flex;
    justify-content: space-between;
}
.main-title-reg 
{
    width: 60%;
    padding-left: 100px;
    margin-top: 50px;
}

.email-Input 
{
    width: 96%;
    height: 40px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    outline: none;
    border: none;
    color: #686868;
    padding-left: 10px;
    margin-top: 15px;
}
.email-Input::placeholder {
    color: #686868;
    opacity: 0.8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    font-size: 12px;
    padding-left: 5px;
}

.phone-input
{
    width: 96%;
    height: 40px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    outline: none;
    border: none;
    color: #686868;
    padding-left: 10px;
    margin-top: 15px;
}
.phone-input::placeholder {
    color: #686868;
    opacity: 0.8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    font-size: 12px;
    padding-left: 5px;
}

.centrlFlagItems img 
{
    width: 25px;
    height: 25px;
}
.closePopup-reg
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}

.password-input
{
    width: 96%;
    height: 40px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    outline: none;
    border: none;
    color: #686868;
    padding-left: 10px;
    margin-top: 15px;
}
.password-input::placeholder {
    color: #686868;
    opacity: 0.8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    font-size: 12px;
    padding-left: 5px;
}

.password-input-repeat
{
    width: 96%;
    height: 40px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    outline: none;
    border: none;
    color: #686868;
    padding-left: 10px;
    margin-top: 15px;
}
.password-input-repeat::placeholder {
    color: #686868;
    opacity: 0.8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    font-size: 12px;
    padding-left: 5px;
}
.btnReg 
{
    padding-top: 50px;
}
.btn-reg 
{
    text-align: center;
}
.Registration 
{
  transition: 0.3s;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #ffff;
  color: #4F4F4F;
  border: 1px solid #4F4F4F;
  padding: 12px 20px;
  font-size: 16px;
}
.Registration:hover {
    transition: 0.3s;
    background: #000000;
    color: #fafafa;
  }
  
.Registration:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

                        /*Вход*/
.popup-bg-log {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-log 
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 350px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 360px;
}
.closePopup-log
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}


.numberPhoneLog 
{
    width: 70%;
    height: 40px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    outline: none;
    border: none;
    color: #686868;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.numberPhoneLog::placeholder {
    color: #686868;
    opacity: 0.8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    font-size: 12px;
    padding-left: 5px;
}

.passLog 
{
    width: 70%;
    height: 40px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    outline: none;
    border: none;
    color: #686868;
    padding-left: 10px;
}

.passLog::placeholder {
    color: #686868;
    opacity: 0.8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    font-size: 12px;
    padding-left: 5px;
}
.itemCenterLog 
{
    text-align: center;
}
.Forgot  {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    font-size: 10px;
    text-decoration: underline;
    color: #1F1F1F;
}
.underInput 
{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
}
.underInput p 
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    font-size: 10px;
}
.lble {
    display: flex;
}
.btnForLog 
{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.loginForm 
{
  transition: 0.3s;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #ffff;
  color: #4F4F4F;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #4F4F4F;
  width: 40%;
  text-decoration: none;
}
.loginForm:hover {
    transition: 0.3s;
    background: #000000;
    color: #fafafa;
    text-decoration: none;
  }
  
.loginForm:focus {
    outline: none;
    box-shadow: 0 0 0 4px #000000;
}

.loginFormForRes 
{
  transition: 0.3s;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #ffff;
  color: #4F4F4F;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #4F4F4F;
  width: 40%;
  text-decoration: none;
}
.loginFormForRes:hover {
    transition: 0.3s;
    background: #000000;
    color: #fafafa;
    text-decoration: none;
  }
  
.loginFormForRes:focus {
    outline: none;
    box-shadow: 0 0 0 4px #000000;
}








.btnForLog {
    text-align: center;
    padding-top: 10px;
}
.life {    color: #101AFE;}
.MTC {    color: rgb(247, 21, 21);}
.A1 {    color: rgb(253, 81, 81);}

                            /*Инфо*/
.popup-bg-info {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-info 
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 535px;
}
.closePopup-info
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}
.infoAboutDesc 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    width:380px; /* ширина нашего блока */
    height:400px; /* высота нашего блока */
    background: #fff; /* цвет фона, белый */
    border: 1px solid #C1C1C1; /* размер и цвет границы блока */
    overflow: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden;
    margin: 10px;
}
.infoAboutDesc::-webkit-scrollbar {
    width: 0;
}

                        /*Просьба*/
.popup-bg-plsReg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-plsReg 
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 500px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 200px;
}
.closePopup-plsReg
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}
.messageForSig {
    text-align: center;
    padding-top: 40px;
    align-items: center;
}
.setCetner 
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.setCetner img
{
    width: 20px;
    height: 20px;
    padding-left: 10px;
    
}
.messageForSig a 
{
    text-decoration: none;
    color: #343434;
    font-weight:400;
}
.LogIn_message a:hover {
    transition: 0.5s;
    color: #00f666;
    font-weight:400;
}
.Registration_message a:hover {
    transition: 0.5s;
    color: #f13636;
    font-weight:400;
}

.LogIn_message a {
    transition: 0.5s;
    color: #343434;
    font-weight:400;
}
.Registration_message a {
    transition: 0.5s;
    color: #343434;
    font-weight:400;
}
                    /*Рассылка*/
.popup-bg-Mailing {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-Mailing 
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 500px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 200px;
}
.closePopup-Mailing
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}
                            /*Вакансия*/
.popup-bg-vacancy {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-vacancy 
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 500px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 400px;
}
.closePopup-vacancy
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}
.centerTitlePop h1 
{
    color: #686868;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    font-size: 30px;
}
.empty 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: #2c2c2c;
}
.centerEmpty
{
    text-align: center;
}
.scrollItems 
{
    height: 280px;
    border: solid 0.1px rgb(115, 115, 115); 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    background: #fff;
    border: 1px solid #C1C1C1;
    overflow: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden;
    margin: 10px;
    width: 490px; 
}
.scrollItems::-webkit-scrollbar {
    width: 0;
}
.vacancyItems 
{
    width: 95%;
    height: 15%;
    border: solid 0.1px rgb(201, 201, 201);
    margin: 10px;
    transform: matrix(1, 0, 0, 1, 0, 4);
    transition: 0.4s;
    border-radius: 5px;
}
.vacancyItems:hover
{
    border-radius: 5px;
    transform: matrix(1, 0, 0, 1, 6, 4);
    transition: 0.4s;
    width: 95%;
    height: 15%;
    border: solid 0.1px rgb(201, 201, 201);
    margin: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.vacancyItems p
{
    margin: 6px;
    font-size: 20px;
}
.nameItemsV h1 
{
    font-size: 15px;
    padding-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

                    /*Инфа об вакансии*/
.popup-bg-infoForVacancy {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-infoForVacancy 
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 500px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 500px;
}
.closePopup-infoForVacancy
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}
.info-forVacancy 
{
    text-align: center;
}
.titleItems {
    display: flex;
    justify-content: space-evenly;
}
#about-vacancy
{
    color: #1f1f1f;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    font-size: 18px;
}
.scrollAbountVacancy 
{
    width:500px; 
    height:200px; 
    background: #fff; 
    border: 1px solid #C1C1C1; 
    overflow: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden;

    text-align: initial;
}
.footer-btn-info-vacancy 
{
    padding-top: 10px;
}
.scrollAbountVacancy::-webkit-scrollbar {
    width: 0;
}
                    /*Откликнуться BTN*/
.popup-bg-respond-btn {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-respond-btn
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 200px;
}
.closePopup-respond-btn
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}
.phoneNumberForRespond h2 
{
    color: #3a3a3a;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    font-size: 18px;
}
                        /*Сотрудничать href*/
.popup-bg-collaborations {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-collaborations
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 200px;
}
.closePopup-collaborations
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}
                /*Настройки*/
.popup-bg-options {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-options
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 400px;
}
.closePopup-options
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}
                /*Анимация для входа в аккаунт*/

.popup-bg-animLogin {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-animLogin
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 200px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 200px;
}
.ANIM 
{
    opacity: 0;
    width: 70px;
    height: 70px;
    animation: aniANIM 2.5s forwards;

}
@keyframes aniANIM {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.UARL 
{
    font-family: 'Montserrat';
    font-style:normal;
    font-weight:300;
    font-size: 20px;
    color: #474747;
}
.change 
{
    text-align: left;
    width: 150px;
}
.titleSet 
{
    font-family: 'Montserrat';
    font-style:normal;
    font-weight:600;
    font-size: 18px;
    color: #575757;
}
.change-btn
{ 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: #4e4e4e;
    font-size: 15px;
    transition: 0.2s ease;
}

.change-btn:hover 
{
    color: #c55c5c;
    font-size: 16px;
    transition: 0.2s ease;
}
.togetherItems 
{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}
.linebetween
{
    height: 100px;
    width: 1px;
    border-radius: 59px;
    background: #d6d6d6;
    align-items: flex-end;
    margin-top: 20px;
}
#infoSet 
{
    padding: 0px;
    margin: 0px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
}
            /*Изменение данных*/
.popup-bg-changePass {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-changePass
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 200px;
}
.closePopup-changePass
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}



.popup-bg-changeName {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-changeName
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 200px;
}
.closePopup-changeName
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}

.popup-bg-changePhone {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-changePhone
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 200px;
}
.closePopup-changePhone
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}




.popup-bg-changeEmail {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-changeEmail
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 200px;
}
.closePopup-changeEmail
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}







.changePass 
{
    width: 40%;
    height: 40px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    outline: none;
    border: none;
    color: #686868;
    padding-left: 10px;
}

.changePass::placeholder {
    color: #686868;
    opacity: 0.8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight:500;
    font-size: 12px;
    padding-left: 5px;
}
.changeBNTspace 
{
    margin-top: 15px;
}



.ChangeBtnOption 
{
  transition: 0.3s;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #ffff;
  color: #4F4F4F;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #4F4F4F;
  width: 40%;
  text-decoration: none;
}
.ChangeBtnOption:hover {
    transition: 0.3s;
    background: #000000;
    color: #fafafa;
    text-decoration: none;
  }
  
.ChangeBtnOption:focus {
    outline: none;
    box-shadow: 0 0 0 4px #000000;
}


                /*Изм. данных, анимация*/

.popup-bg-checkChange {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-checkChange
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 200px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 200px;
}
.ANIM 
{
    opacity: 0;
    width: 70px;
    height: 70px;
    animation: aniANIM 2.5s forwards;

}
.UARL-change 
{
    font-family: 'Montserrat';
    font-style:normal;
    font-weight:300;
    font-size: 20px;
    color: #474747;
}








.popup-bg-Cart {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup-Cart
{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 1000px;
    background: #fff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 30px;
    height: 500px;
}
.closePopup-Cart
{
    position:absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}


.scrollbasket 
{
    text-align: -webkit-center;

    height: 370px;
    border: solid 0.1px rgb(115, 115, 115);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    background: #fff;
    border: 1px solid #C1C1C1;
    overflow: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden;
    margin: 10px;
    width: 970px;

}

.scrollbasket::-webkit-scrollbar {
    width: 0;
}

.cartTovar 
{
    display: flex;
    justify-content: initial;
    width: 85%;
    height: 60px;
    border: 1px solid #8e8e8e;
    border-radius: 8px;
    margin: 15px;
    align-items: center;
    transition: all 0.2s linear;
}
.cartTovar:hover 
{
    transform: scale(1.02);
    box-shadow: 0 10px 24px rgba(0,0,0,0.20), 0 8px 8px rgba(0,0,0,0.18);
}

.cartTovar h1 
{
    font-family: 'Montserrat';
    font-style:normal;
    font-weight:300;
    font-size: 20px;
    color: #474747;
    margin: 0;
    padding: 0;
}

.cartTovar a
{
    font-family: 'Montserrat';
    font-style:normal;
    font-weight:300;
    font-size: 20px;
    color: #474747;
    margin: 0;
    padding: 0;
}

.img_tovar
{
    width: 7%;
}
.title_tovar {
    width: 40%;
}
.price_tovar 
{
    width: 17%;
}
.img_tovar img 
{
    width: 60px;
    height: 60px;
    border-radius: 8px;
}
#itemTovar 
{
    margin-left: 20px;
}
.btn-tovar 
{
    width: 36%;
    display: flex;
    justify-content: space-evenly;
}
.buy_tovar a  {
    transition: all 0.5s;
    color: #474747;
}

.buy_tovar a:hover  {
    transition: all 0.5s;
    color: #3fee53;
}

.remove_tovar a  {
    transition: all 0.5s;
    color: #474747;
}

.remove_tovar a:hover  {
    transition: all 0.5s;
    color: #f44f39;
}


.theCartOfClear h1
{
    margin: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    color: #666666;
    font-weight:500;
    font-size: 20px;
}