                    /*Лучшее*/
.slider 
{
    width: 942px;
    height: 490px;
    overflow: hidden;
}
.sliderLine 
{
    position: relative;
    width: 2826px;
    height: 490px;
    display: flex;
    align-items: center;
    left:  0;
    transition: all ease 1s;
}
                 /*Каталог*/
